mat-step-header {
  height: 35px !important;
  font-size: 1em;
  font-weight: 500;
}

.mat-step-label {
  font-size: .85em !important;
  font-weight: 400 !important;
}

.mat-step-label-selected {
  font-size: .85em !important;
  font-weight: 600 !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}
