@import "../../main";

.page-forgot {
  background-image: url(./../../../assets/img/home_medico.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 94, 130, 0.5);
  }
  .card {
    position: absolute;
    top: 38%;
  }
}

.forgot {
  height: 100vh;
}

.btn-reset {
  text-align: center;
  max-width: 450px;
  margin-top: 1em;
  button {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}

.nuevaContraFrm{
  margin-bottom: 10px; 
}