.home-img {
  background-image: url(./../../../assets/img/home_medico.png) !important;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: -webkit-fill-available;
  opacity: 0.5;
}
