<div class="page-configuracion">
  <mat-card class="box-filtros">
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title"
        >PARTICIPANTES DEL SISTEMA</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form class="form form-solicitud" [formGroup]="marcadorForm">
        <mat-grid-list cols="12" rowHeight="35px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 11, sm: 11, md: 11, lg: 11, xl: 11 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>APELLIDOS Y NOMBRES</mat-label>
              <input matInput [appUpperCase] formControlName="nombre" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 1, sm: 1, md: 1, lg: 1, xl: 1 }"
          >
            <button
              mat-icon-button
              type="button"
              class="btn-action-search"
              color="primary"
              (click)="accionMarcador()"
              [disabled]="btnBuscar"
            >
              <mat-icon>search</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>

    <mat-card class="box-resultados">
      <mat-card-content class="card-container">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="codParticipanteLargo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CODIGO</th>
              <td mat-cell *matCellDef="let row">
                {{ row.codParticipanteLargo }}
              </td>
            </ng-container>

            <ng-container matColumnDef="apellidos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                APELLIDOS Y NOMBRES
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.apellidos + " " + row.nombres }}
              </td>
            </ng-container>

            <ng-container matColumnDef="descripcionRol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>PERFIL</th>
              <td mat-cell *matCellDef="let row">{{ row.descripcionRol }}</td>
            </ng-container>

            <ng-container matColumnDef="correoElectronico">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                CORREO ELÉCTRONICO
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.correoElectronico }}
              </td>
            </ng-container>

            <ng-container matColumnDef="estadoParticipante">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
              <td mat-cell *matCellDef="let row">
                {{ row.estadoParticipante }}
              </td>
            </ng-container>

            <ng-container matColumnDef="opciones">
              <th mat-header-cell *matHeaderCellDef>EDITAR</th>
              <td mat-cell *matCellDef="let element">
                <button
                  class="tableIconButton"
                  mat-icon-button
                  matTooltip="Editar Participante"
                  (click)="openEditarMarcador(element)"
                >
                  <mat-icon>create</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div
            class="empty"
            *ngIf="
              !isLoadingResults && (resultsLength == 0 || resultsLength == null)
            "
          >
            No existe datos para mostrar en la tabla
          </div>

          <mat-card *ngIf="isLoadingResults" class="spinerTable">
            <mat-progress-spinner
              color="primary"
              mode="indeterminate"
            ></mat-progress-spinner>
          </mat-card>

          <mat-paginator
            [pageSizeOptions]="pageSizeOptions"
            [pageSize]="pageSize"
          ></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card-actions class="btnActions" align="end">
      <div class="btnAdd">
        <button
          mat-raised-button
          color="primary"
          (click)="openRegistrarMarcador()"
        >
          <mat-icon inline="true">add_box</mat-icon>
          <strong>REGISTRAR PARTICIPANTE</strong>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<br />
<mat-divider class="dividir"></mat-divider>

<mat-card class="cardPasos">
  <mat-card-header class="box-section-header">
    <mat-card-title class="box-section-title">COMITES</mat-card-title>
    <form novalidate [formGroup]="EditFrmGrp">
      <mat-checkbox formControlName="editFrm" (click)="editarFormComite()"
        >EDITAR</mat-checkbox
      >
    </form>
    <button mat-raised-button color="primary" (click)="openRegistrarComites()">
      <mat-icon inline="true">add_box</mat-icon>
      <strong>REGISTRAR COMITES</strong>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form
      novalidate
      [formGroup]="field"
      *ngFor="let field of manComFrmArray.controls; let i = index"
    >
      <mat-grid-list cols="12" rowHeight="40px">
        <mat-grid-tile
          [responsiveRows]="{ xs: 12, sm: 12, md: 6, lg: 6, xl: 6 }"
        >
          <mat-form-field appearance="fill">
            <input
              matInput
              readonly
              [formControl]="field.controls.nomComFrmCtrl"
            />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile
          [responsiveRows]="{ xs: 12, sm: 12, md: 5, lg: 5, xl: 5 }"
        >
          <div class="containerRadio">
            <div class="radioGroup">
              <mat-radio-group
                (change)="verificarResult($event)"
                [formControl]="field.controls.resultFrmCtrl"
              >
                <mat-radio-button
                  *ngFor="let row of resultAutorizador"
                  [value]="row.codigo"
                >
                  {{ row.titulo }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile
          style="display: none"
          [responsiveRows]="{ xs: 12, sm: 12, md: 1, lg: 1, xl: 1 }"
        >
          <mat-form-field appearance="fill">
            <input matInput [formControl]="field.controls.codigoComite" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <mat-card-actions class="btnActions" align="end">
      <div class="btnAdd">
        <!-- <button mat-raised-button color="primary" (click)="openRegistrarComites()">
            <mat-icon inline=true>add_box</mat-icon>
            <strong>REGISTRAR COMITES</strong>
        </button> -->
        <button
          type="submit"
          mat-raised-button
          color="primary"
          *ngIf="editFrm.value == true"
          (click)="onSubmit()"
        >
          <strong>GRABAR</strong>
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<!-- <mat-card-actions class="btnActions" align="end"> -->
<!-- <button
    *ngIf="antecedenteEditFrmGrp.get('editFrm').value == true"
    type="submit"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
  >
    <strong>GUARDAR</strong>
  </button> -->
<!-- <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
  >
    <strong>EDITAR</strong>
  </button> -->
<!-- </mat-card-actions> -->
