<div class="mat-dialog-header">
    <h1 class="mat-dialog-title" mat-dialog-title> {{data.title}} </h1>
    <button mat-icon-button (click)="onDialogClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="mat-dialog-content" mat-dialog-content>
    <form [formGroup]="formDiagnostico">
      <mat-grid-list cols="12" rowHeight="56px">
        <mat-grid-tile [colspan]="12" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>DIAGNÓSTICO</mat-label>
            <input cdkFocusInitial matInput style="text-transform:uppercase" placeholder="Busque por descripción de diagnóstico" formControlName="diagnostico"
               (keydown.enter)="filtrarDiagnostico()">
            <button class="searchBtn" mat-icon-button matSuffix type="button" class="addon" color="accent"
              (click)="filtrarDiagnostico()">
              <mat-icon>search</mat-icon>
            </button>
            <mat-error *ngIf="diagnostico.hasError('minlength')">
              Debe de ingresar al menos <strong>4 Caracteres</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="mat-elevation-z8 clear-both">
        <div class="table-container">
          <table mat-table [dataSource]="dataSourceDiag" matSort>
  
            <ng-container matColumnDef="coddia">
              <th class="tc-md" mat-header-cell *matHeaderCellDef> Código </th>
              <td class="text-center" mat-cell *matCellDef="let element" (click)="grabarDiagnostico(element)">
                {{element.codigo}} </td>
  
            </ng-container>
            <ng-container matColumnDef="nomdia">
              <th class="tc-md" mat-header-cell *matHeaderCellDef> Nombre Diagnóstico </th>
              <td class="text-center" mat-cell *matCellDef="let element" (click)="grabarDiagnostico(element)">
                {{element.descripcion}}</td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="empty" *ngIf="!isLoading && dataSourceDiag === null">
            No existe datos para mostrar en la tabla.
          </div>
  
          <div class="box-loading">
            <div *ngIf="isLoading" class="spinerTable">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>